.add-device-card {
  padding: 5% 8%;
}

.mat-dialog-title {
  margin-left: 32%;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 400;
}

.title {
  margin-left: 2px;
  font-size: 18px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

#first-title {
  padding-bottom: 10px;
}

.mat-form-field {
  height: 40px;
  width: 220px;
  margin-bottom: 58px;
}

.right-input {
  margin-left: 60px;
}

#login-info {
  margin-top: 0;
}

.action.mat-dialog-actions {
  padding-top: 5%;
  padding-left: 25%;
}

button {
  border: solid 1px;
  border-radius: 4px;
  padding: 0 8px;
  height: 45px;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
}

button.mat-button.mat-primary {
  margin-left: 47px;
}

mat-error {
  font-size: 14px;
}
