.add-device-card {
  padding: 5% 7%;
}

.mat-dialog-title {
  margin-left: 30%;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 400;
}

.title {
  font-size: 18px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-form-field {
  height: 40px;
  width: 220px;
  margin-bottom: 58px;
}

.right-input {
  margin-left: 50px;
}

#login-info {
  margin-top: 0;
}

.action.mat-dialog-actions {
  padding-top: 7%;
  padding-left: 24%;
}

button {
  border: solid 1px;
  border-radius: 4px;
  padding: 0 8px;
  height: 45px;
  width: 100px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
}

button.mat-button.mat-primary {
  margin-left: 47px;
}

mat-error {
  font-size: 14px;
}
