.mat-toolbar {
  font: 500 14px/32px Roboto,"Helvetica Neue",sans-serif;
  background-color: white;
  margin-top: 10px;
  padding: 0 5px;
}

.toolbar-spacer {
  flex: auto 1 1;
}

.mat-form-field-flex {
  height: 20px;
}

.mat-input {
  margin-top: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  margin-top: 20px;
  width: 20%;
}

.first-line-button {
  font-size: 16px;
  font-weight: 400;
  border: solid 1px;
  border-radius: 4px;
  padding: 0 8px;
}

#refresh-button {
  margin-left: 20px;
  min-width: 10px;
}

#delete-button {
  height: 40px;
  min-width: 85px;
  margin-bottom: 3px;
}

.material-icons {
  margin-bottom: 2px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 25px 5px;
  text-align: center;
}

.mat-header-cell {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

/*最右一列宽度*/
th.mat-header-cell.cdk-column-Action.mat-column-Action.ng-star-inserted {
  width: 74px;
}

mat-checkbox {
  float: left;
}

.form-button {
  min-width: 37px;
  padding: 0 0;
}

#build .material-icons {
  margin-top: 5px;
  font-size: 20px;
}

::ng-deep mat-form-field.mat-paginator-page-size-select {
  text-align: center !important;
}
