<div class="bg-card">
  <br/>
  <br/>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <div class="header-content">
        <mat-card-title class="header-title">F5 负载均衡</mat-card-title>
        <mat-card-subtitle class="header-describe">融合了软件与硬件功能，可作为负载平衡器和完整代理。它使您能够了解和控制通过您的网络的所有流量</mat-card-subtitle>
      </div>
    </mat-card-header>
    <br/>
    <mat-card-content>
      <br/>
      <app-card-content></app-card-content>
    </mat-card-content>
  </mat-card>
  <br/>
  <br/>
</div>
