<div class="tabs">
  <mat-tab-group>
    <!--Virtual Server tab-->
    <mat-tab label="Virtual Server" >
      <app-virtual-server-tab></app-virtual-server-tab>
    </mat-tab>
    <!--iApp tab-->
    <mat-tab label="iApp" >
      <app-iapp-tab></app-iapp-tab>
    </mat-tab>
    <!--简易配置模式 tab-->
    <mat-tab label="简易模式">
      <app-easy-config-tab></app-easy-config-tab>
    </mat-tab>
    <!--专家配置模式 tab-->
    <mat-tab label="专家模式">
      <app-expert-config-tab></app-expert-config-tab>
    </mat-tab>
  </mat-tab-group>
</div>
